.feynman {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 790px;
    width: 100%;
    background-color:#f2f2f2;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
    }