.cards__item{
    padding-top: 60px;
    margin: 0;
    padding: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__item:nth-child(2){
    padding-left: 100px;
}
.cards__item:nth-child(3){
    padding-left: 100px;
}
.cards__item:nth-child(5){
    padding-left: 100px;
}