.resources__logo{
width: 270px;
height: 38px;
background-size: contain;
background-repeat: no-repeat;
opacity: 1;
background-position: center;
justify-content: space-between;
}
.resources__logo:hover{
    transition: 0.7s;
    opacity: 0.5;
}
