.page {
min-width: 1100px;
max-width: 1600px;
font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
height: 100vh;
min-height: 600px;
max-height: 756px;
display: flex;
flex-direction: column;
justify-content: center;
position: relative; 
background-color:  #f2f2f2;
margin: 0 auto;
overflow: hidden;
}
.header__square-pic {
height: 568px;
width: 568px;
background-color: #2f80ed;
position: absolute;
top: 64px;
right: 0px;
z-index: 0;
}
.logo_place_header{
width: 183px;
height: 32px;
position: absolute;
top: 30px;
left: 64px;
z-index: 3;
}
.header__title{
width: 730px;
position: absolute;
justify-content: center;
left: 64px;
top:auto;
line-height: 96px;
font-size: 102px;
font-weight: bold;
z-index: 3;
}
.header__subtitle{
width: 388px;
position: absolute;
bottom: 30px;
left: 64px;
line-height: 25px;
font-size: 18px;
font-weight: normal;
z-index: 3;
}
.header__link{
text-decoration: none;
}
.header__main-illustration{
width: 765px;
height: 608px;
position: absolute;
bottom: 0px;
right: 0px;
z-index: 2;
}
.description{
display: flex;
flex-direction: column;
justify-content: center;
height: auto;
padding-top: 100px;
margin: 0 auto;
}
.two-columns{
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto;
margin-bottom: 0px;
}
.two-columns__brief{
line-height: 1.2;
font-size: 18px;
font-style: normal;
color:  #2f80ed;
margin: 0 auto;
}
.two-columns__main-text{
line-height: 34px;
font-size: 24px;
font-style: normal;
width: 80%;
min-width: 784px;
}
.two-columns__paragraph_1{
margin: 0 auto;
}
.two-columns__paragraph_2{
padding-top: 30px;
margin: 0 auto;
}
.two-columns__paragraph_3{
padding-top: 30px;
margin: 0 auto;
}
.span-accent{
font-weight: bold;
}
.digits{
display: flex;
flex-direction: column;
justify-content: center;
height: auto;
padding-bottom: 100px;
padding-top: 100px;
}
.section-title{
display: flex;
justify-content: center;
line-height: 1.15;
font-size: 60px;
font-weight: bold;
margin: 0 auto;
width: 60%;
}
.section-subtitle{
display: flex;
justify-content: center;
line-height: 34px;
font-size: 24px;
font-style: normal;
margin: 0 auto; 
width: 60%;
padding-top: 20px;
}
.table{
margin: 0 auto;
display: flex;
flex-direction: row; 
justify-content: center;
flex-wrap: wrap; 
width: 1100px;
right: auto;
left: auto;
list-style-type: none;
padding-left: 0px;
}
.table__heading{
line-height: 1.15;
font-size: 24px;
font-weight: bold; 
margin: 0 auto;
}
.table__text{
line-height: 1.2;
font-size: 18px;
font-style: normal;  
padding-top: 20px;
margin: 0 auto;
}
.table__cell{
width: 250px;
margin-top: 60px;
}
.table__subtitle{
padding-top: 20px;
}
.feynman {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
min-height: 790px;
width: 100%;
background-color:#f2f2f2; 
background-repeat: no-repeat;
position: relative;
margin: 0 auto;
}
.feynman__title{
line-height: 1.15;
font-size: 120px;
font-weight: bold;
z-index: 4;
width: 648px;
margin: 0 auto;
text-align: center;
padding-top: 100px;
}
.feynman__subtitle{
line-height: 51px;
font-size: 36px;
font-style: normal;
z-index: 4;
padding-top: 70px;
margin: 0 auto;
} 
.feynman__link{
line-height: 51px;
font-size: 36px;
font-style: normal;
text-decoration: none;
z-index: 4;
position: absolute;
right: 48px;
top: 57%; /*Увеличил процент с 50 на 57 чтобы ссылка встала в одну линию с параграфом*/
} 
.feynman__image{
width: 867px;
height: 637px;  
position: absolute;
left: 0px;
bottom: 0px;
z-index: 2;
}
.kaufman{
display: flex;
position: relative;
flex-direction: column;
justify-content: center;
height: auto;
background-color: #000000;
overflow: hidden;
margin: 0 auto;
}
.section-title_theme_dark{
line-height: 1.15;
font-size: 60px;
font-weight: bold;
color: white;
display: flex;
justify-content: center;
margin: 0 auto;
width: 60%;
padding-top: 90px;
z-index: 5;
}
.section-subtitle_theme_dark{
line-height: 34px;
font-size: 24px;
font-style: normal;
color: white;
display: flex;
justify-content: center;
margin: 0 auto; 
width: 60%;
padding-top: 20px;
z-index: 5;
}
.table_theme_dark{
list-style-type: none;
margin: 0 auto;
display: flex;
flex-direction: row; 
justify-content: space-between;
flex-wrap: wrap; 
width: 1100px;
right: auto;
left: auto;
padding-left: 0px;
z-index: 4;
padding-bottom: 90px;
}
.table__heading_theme_dark{
line-height: 1.15;
font-size: 24px;
font-weight: bold;
margin: 0 auto;
}
.table__text_theme_dark{
line-height: 1.2;
font-size: 18px;
font-style: normal;
margin: 0 auto;
padding-top: 20px;
}
.table__cell_theme_dark {
width: 200px;
color: white;
margin: 0 auto;
padding-top: 80px;
}
.kaufman__triangle{
background-image: url(../images/kaufman-triangle.svg);
position: absolute;
right: -210px;
z-index: 3;
width: 877px;
height: 877px;
}
.footer{
background-color:black;
min-height: 350px;
padding: 60px 0px 40px;
color: white;
display: flex;
}
.footer__columns{
display: flex;
width: 90%;
justify-content: space-between;
margin:60px auto 40px ;
}
.footer__column{
flex-direction: column;
justify-content: space-between;
display: flex;
}
.footer_column_content_copyright{
display: flex;
flex-basis: 711px;
flex-direction: column;
justify-content: space-between;
}
.logo_place_footer{
height: 35px;
width: 183px;
}
.footer__author{
line-height: 25px;
font-size: 18px;
font-style: normal;
padding: 18px 0px;
margin: 0;
}
.footer_column_content_info{
margin: 0;
padding: 0;
justify-content: flex-start;
}
.footer_column_content_social{
margin: 0;
padding: 0;
justify-content: flex-start;
}
.footer__column-heading{
line-height: 30px;
font-size: 18px;
font-weight: bold;
padding-bottom: 20px;
margin: 0;
}
.footer__column-links{
list-style-type: none;
padding: 0px;
margin: 0;
}
.footer__column-link{
line-height: 30px;
font-size: 18px;
font-style: normal;
text-decoration: none;
color: white;
}
.footer__social-icon{
padding-right: 10px;
width: 16px;
height: 16px;
}